/*     */



html {
    background: url(../img/wheel.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


h1 {

	text-align: center;
	color: black;

}

.ui.image img {
height: 100px;
margin-left: 100px;
}



.ui.medium.image, .ui.medium.images .image, .ui.medium.images img {
width: 132px;
font-size: 1rem;
}

.ui.image img {
height: 100px;
padding: 10px;
margin-left: 15px;
}


button {

	margin:1% 0 0 1%;
	padding: 20px;
	background: black;
	text-decoration: none;
	color: white;
	border-radius: 10px;


}








/* Mobile */
@media screen and (max-width: 499px) {

.ui.image {

	width: 100px;
}

.ui.black.inverted.primary.menu {

	width: 100%;
}

button {
	display: none;
}



}



/* Tablet */
@media screen and (min-width: 500px) {


}

/* Desktop */
@media screen and (min-width: 1140px) {




}




