/*     */



html {
    background: url(../img/wheel.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


h1 {

	text-align: center;
	color: black;

}

.ui.image img {
height: 100px;
margin-left: 100px;
}



.ui.medium.image, .ui.medium.images .image, .ui.medium.images img {
width: 132px;
font-size: 1rem;
}

.ui.image img {
height: 100px;
padding: 10px;
margin-left: 15px;
}


.ui.icon.button.massive {

	margin:1% 0 0 1%;
	padding: 20px;


}









/* Mobile */
@media screen and (max-width: 400px) {

.ui.image {

	width: 100px;
}

.item {

	display: none;
}


.ui.icon.button.massive {

	display: none;


}


html {

background: white;

}




.ui.menu:last-child {
margin-bottom: 30%;
}



}



/* Tablet */
@media screen and (min-width: 401px) {

	p {

		display: none;
		text-align: center;
	}


}





