/*     */


h1 {

	text-align: center;
	color: tomato;

}

.ui.image img {
height: 100px;
margin-left: 100px;
}



.ui.medium.image, .ui.medium.images .image, .ui.medium.images img {
width: 132px;
font-size: 1rem;
}

.ui.image img {
height: 100px;
padding: 10px;
margin-left: 15px;
}
/* 

.ui.menu:first-child {
margin-top: -74px;
}

*/